<h1>Post Event</h1>
<form action="/post-event" method="POST">
  <div>
    <label for="event_name">Event Name</label>
    <input type="event_name" id="event_name" name="event_name" required>
  </div>
  <div>
    <label for="location">Location</label>
    <input type="location" id="location" name="location" required>
  </div>
  <div>
    <label for="date">Date</label>
    <input type="date" id="date" name="date" required>
  </div>
  <button type="submit">Post Event</button>
</form>
